@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
}
a {
    text-decoration: none;
}
.container {
    display: flex;
}
.side-nav-bar {
    height: 100vh;
    top: 0px;
    left: 0px;
    padding: 10px;
    background-color: #c4c4c4;
}
.side-nav-item {
    height: 40px;
    padding-bottom: 30px;
    display: block;
}
.side-nav-icon {
    width: 40px;
    height: 40px;
}

.main-container {
    height: 100vh;
    width: 100vw;
}
.main-cover {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.main-nav-bar {
    /* padding: 11px 10px 15px; */
    padding-top: 11px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
}
.main-nav-item {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}
.divider {
    border: 1px solid #999494;
}
.form-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 583px;
    text-align: center;
    
}
.form-content {
    padding-right: 150px;
}
.form-title {
    text-align: center;
}
.row-label {
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
    font-size: 24px;
    font-weight: 700;
}
.ca {
    margin: 0px;
    padding-left: 5px;
    padding-bottom: 30px;
    text-align: center;
    /* padding: 0px 10px 25px 15px; */
    font-size: 30px;
}
.sel {
    padding: 0px 0px 10px 0px;
}
.form-input {
    border: 1px solid #000000;
    margin-bottom: 20px;
    border-radius: 10px;
    /* margin-right: -5px; */
    
    vertical-align: top;
    width: 100%;
    height: 35px;
    font-size: 24px;
}
.form-select {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: -10px -5px 0px 0px;
    /* 마진을 줘서 셀렉트와 간격을 맞추자 right*/
    padding: 0px 5px 0px 3px;
    width: 275px;
    height: 40px;
    font-size: 24px;
    font-weight: 500;
}
.form-textarea {
    border: 1px solid #000000;
    
    width: 100%;
    border-radius: 10px;
    font-size: 24px;
}
.form-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.form-btn {
    width: 150px;
    height: 60px;
    margin-right: -3px;
    font-size: 24px;
    color: #ffffff;
    background-color: #1a8fdd;
    
    border: 0;
    border-radius: 10px;
}